/* ------ GRID ------ */
.col-xsm-1 {
  width: 8.33333%;
  border: 1px solid red; }

.col-xsm-2 {
  width: 16.66667%;
  border: 1px solid red; }

.col-xsm-3 {
  width: 25%;
  border: 1px solid red; }

.col-xsm-4 {
  width: 33.33333%;
  border: 1px solid red; }

.col-xsm-5 {
  width: 41.66667%;
  border: 1px solid red; }

.col-xsm-6 {
  width: 50%;
  border: 1px solid red; }

.col-xsm-7 {
  width: 58.33333%;
  border: 1px solid red; }

.col-xsm-8 {
  width: 66.66667%;
  border: 1px solid red; }

.col-xsm-9 {
  width: 75%;
  border: 1px solid red; }

.col-xsm-10 {
  width: 83.33333%;
  border: 1px solid red; }

.col-xsm-11 {
  width: 91.66667%;
  border: 1px solid red; }

.col-xsm-12 {
  width: 100%;
  border: 1px solid red; }

@media (min-width: 640px) {
  .col-sm-1 {
    width: 8.33333%;
    border: 1px solid green; }
  .col-sm-2 {
    width: 16.66667%;
    border: 1px solid green; }
  .col-sm-3 {
    width: 25%;
    border: 1px solid green; }
  .col-sm-4 {
    width: 33.33333%;
    border: 1px solid green; }
  .col-sm-5 {
    width: 41.66667%;
    border: 1px solid green; }
  .col-sm-6 {
    width: 50%;
    border: 1px solid green; }
  .col-sm-7 {
    width: 58.33333%;
    border: 1px solid green; }
  .col-sm-8 {
    width: 66.66667%;
    border: 1px solid green; }
  .col-sm-9 {
    width: 75%;
    border: 1px solid green; }
  .col-sm-10 {
    width: 83.33333%;
    border: 1px solid green; }
  .col-sm-11 {
    width: 91.66667%;
    border: 1px solid green; }
  .col-sm-12 {
    width: 100%;
    border: 1px solid green; } }

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.33333%;
    border: 1px solid blue; }
  .col-md-2 {
    width: 16.66667%;
    border: 1px solid blue; }
  .col-md-3 {
    width: 25%;
    border: 1px solid blue; }
  .col-md-4 {
    width: 33.33333%;
    border: 1px solid blue; }
  .col-md-5 {
    width: 41.66667%;
    border: 1px solid blue; }
  .col-md-6 {
    width: 50%;
    border: 1px solid blue; }
  .col-md-7 {
    width: 58.33333%;
    border: 1px solid blue; }
  .col-md-8 {
    width: 66.66667%;
    border: 1px solid blue; }
  .col-md-9 {
    width: 75%;
    border: 1px solid blue; }
  .col-md-10 {
    width: 83.33333%;
    border: 1px solid blue; }
  .col-md-11 {
    width: 91.66667%;
    border: 1px solid blue; }
  .col-md-12 {
    width: 100%;
    border: 1px solid blue; } }

@media (min-width: 1098px) {
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; } }

.row:before,
.row:after {
  content: '';
  clear: both;
  display: table; }

[class*='col-'] {
  float: left;
  min-height: 1px; }

.collapsed {
  padding: 0; }

* {
  box-sizing: border-box;
  margin: 0 auto; }

body {
  font-family: 'Open Sans', serif;
  font-size: 16px;
  background-color: #f1efed; }

.container {
  padding: 10px; }

.headerBox {
  margin-top: 52px;
  font-size: 24.19px;
  padding-left: 19px; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

h1 {
  font-size: 62.48px;
  color: #035159;
  margin-bottom: 45px; }

.headerTitle {
  font-weight: 200;
  color: #035159;
  font-size: 42.33px; }

.circleBox {
  margin-top: 72px; }

.circle {
  width: 213px;
  height: 213px;
  background-color: #bebcbb;
  border-radius: 50%; }

.adressBox {
  text-align: right;
  margin-top: 78px; }
  .adressBox p {
    margin-bottom: 10px;
    color: #a5a4a3; }

.iconBox {
  margin-top: 82px;
  text-align: right; }
  .iconBox img {
    margin-bottom: 20px;
    display: block;
    height: 23px; }

hr {
  display: block;
  width: 91% !important;
  margin-left: 40px;
  margin-top: 14px;
  margin-bottom: 59px; }

h2 {
  display: inline;
  font-size: 44.34px;
  color: #035159; }

.formTop {
  margin-top: 48px; }

.textTop {
  display: inline;
  float: left;
  padding-left: 25px; }
  .textTop p {
    text-align: center;
    padding: 1%;
    color: #48acac; }
  .textTop .greenBox {
    color: white;
    background-color: #48acac;
    border-radius: 10px; }

.borderLine {
  margin: 0;
  border-top: 7px solid #035159;
  margin-top: 22px;
  margin-left: 3.5%;
  margin-bottom: 8px;
  width: 86%; }

.borderLine p {
  margin: 0;
  width: 23px;
  height: 23px;
  background-color: white;
  border: 4px solid #035159;
  border-radius: 50%;
  margin-top: -6%;
  margin-left: -1%; }

.borderLine .pointTwo {
  margin-left: 35%; }

.borderLine .pointThree {
  margin-left: 52%; }

.borderLine .pointFour {
  float: right;
  margin-right: -3%; }

.formMiddle {
  margin-top: 0; }
  .formMiddle .textPadding {
    padding-left: 15px; }

.textBottom {
  padding-left: 0 !important; }

.bottomPadding {
  padding-left: 20px; }

.bottomPaddingP {
  padding-left: 27px; }

.experienceBox {
  margin-top: 8%; }

.stageBox {
  border-radius: 10px;
  background-color: white;
  padding: 2%;
  padding-right: 0;
  padding-top: 28px;
  padding-bottom: 18px;
  box-shadow: 1px 1px 2px silver;
  margin-top: 56px;
  margin-bottom: 79px; }
  .stageBox h4 {
    font-size: 24.19px;
    font-weight: 200; }
  .stageBox p {
    font-size: 19px;
    font-weight: 200;
    color: #999794; }
  .stageBox span:first-child {
    font-size: 20.16px;
    font-weight: 200;
    color: #bababa; }
  .stageBox span:last-child {
    font-size: 52.41px;
    font-weight: 200;
    color: #035159; }

.stageBorder {
  border-right: 3px solid #bababa; }

.yearBox {
  padding-left: 20px; }

.yearText {
  padding-top: 10%;
  text-align: center; }

.yearBoxEx {
  padding-right: 20px; }

.stageBoxMargin {
  margin-top: 25%; }

.borderRight {
  border-right: 6px solid #084141; }

.triangle {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 35px solid white;
  margin: 21% auto 0; }

.triangleRight {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 35px solid white;
  margin: 46% auto 0; }

.competencesBox {
  margin-top: 80px; }

.competencesList {
  margin-top: 9%;
  font-size: 24.16px; }
  .competencesList p {
    padding-bottom: 7%; }

.marginTop {
  margin-top: 10.5%; }

.prog {
  height: 13px;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 5px;
  margin-bottom: 8%; }

.one {
  background: #027070; }

.two {
  background: #046060; }

.three {
  background: #074c4c; }

.four {
  background: #009898; }

.five {
  background: #02b4b5; }

.six {
  background: #008384; }

.progBar {
  border-radius: 3px;
  height: 11px;
  margin-left: 0; }

.circlesBox {
  display: flex; }

.sport {
  width: 148px;
  height: 148px;
  background-color: #26acac;
  border-radius: 50%;
  opacity: 0.8;
  margin-top: 62px;
  margin-left: 7%;
  z-index: 3;
  position: absolute;
  color: white;
  font-size: 32.21px;
  line-height: 148px; }

.musique {
  width: 170px;
  height: 170px;
  background-color: #2bc4c4;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  margin-top: 174px;
  margin-left: 3%;
  color: white;
  font-size: 27.61px;
  line-height: 170px; }

.webdesign {
  width: 236px;
  height: 236px;
  background-color: #268e8e;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  opacity: 0.8;
  margin-top: 97px;
  margin-left: 15%;
  color: white;
  font-size: 36.81px;
  line-height: 236px; }

.cinema {
  width: 144px;
  height: 144px;
  background-color: #2b5d5d;
  border-radius: 50%;
  position: absolute;
  z-index: 4;
  opacity: 0.8;
  margin-top: 241px;
  margin-left: 30%;
  color: white;
  font-size: 29.13px;
  line-height: 144px; }

.center {
  text-align: center; }
