@import 'media_queries';
$columnNo: 12;
$gutter: 1.25em;


/* ------ GRID ------ */
@for $i from 1 through $columnNo {
	.col-xsm-#{$i} {
		width: 100/$columnNo * $i + %;
    //border: 1px solid red;
		font-size: 9px;


	}
}
@include phone {
	@for $i from 1 through $columnNo {
		.col-sm-#{$i} {
			width: 100/$columnNo * $i + %;
      //border: 1px solid green;
			font-size: 11px;
			.borderLeft {
				border-left: 0;
			}
    }
  }
}
@include tablet {
	@for $i from 1 through $columnNo {
		.col-md-#{$i} {
			width: 100/$columnNo * $i + %;
//    border: 1px solid blue;
		font-size: 13px;
		.adressBox {
			p {
				padding-right: 3%;
			}
		}
		.borderLeft {
			border-left: 0;
		}
    }
  }
}
@include desktop {
	@for $i from 1 through $columnNo {
		.col-lg-#{$i} {
			width: 100/$columnNo * $i + %;
    //  border: 1px solid yellow;
		font-size: 16px;
		.borderLeft {
			border-left: 0;
		}
    }
  }
}
.row:before,
.row:after {
  content: '';
  clear: both;
  display: table;
}
[class*='col-'] {
  float: left;
  min-height: 1px;
	}
.collapsed {
  padding: 0;
}

// BODY //
* {
  box-sizing: border-box;
	margin: 0 auto;
}
body {
	font-family: 'Open Sans', serif;
  font-size: 7px;
	background-color: #f1efed;
}
.container {
	padding: 10px;
	width: 100%;
	max-width: 1098px;
}
// HEADER //
.headerBox {
  margin-top: 3.25em;
  font-size: 1.5em;
  padding-left: 1.188em;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.name {
  font-size: 3.905em;
	color: #035159;
  margin-bottom: 0.5em;
	font-weight: bold;
}
.headerTitle {
	font-size: 2.2em;
	color: #035159;
	font-weight: lighter;
}
//circle
.circleBox {
  margin-top: 4.5em;
}
.circle {
  width: 13.3em;
  height: 13.3em;
  background-color: #bebcbb;
  border-radius: 50%;
}
//adress
.adressBox {
  text-align: right;
  margin-top: 4.875em;
  p {
    margin-bottom: 0.625em;
		color: #a5a4a3;
		font-size: 1.5em;
  }
}
.iconBox {
  margin-top: 5.1em;
  text-align: right;
  img {
    margin-bottom: 1.6em;
    display: block;
    height: 1.4375em;
  }
}
hr {
  display: block;
  width: 91% !important;
  margin-left: 2.5em;
  margin-top: 0.875em;
	margin-bottom: 3.688em;
}

// SECTION FORMATIONS //
img {
	width: 2em;
	height: 2em;
}
	h2 {
		display: inline;
		font-size: 2.77125em;
		color: #035159;
	}

.formTop {
	margin-top: 3em;
}
.textTop {
	display: inline;
	float: left;
	padding-left: 1.5625em;
	p {
		text-align: center;
		padding: 1%;
		color:  #48acac;
	}

	.greenBox {
		color: white;
		background-color: #48acac;
		border-radius: 0.625em;
	}
}
.textLeft {
	text-align: left !important;
}
//border
.borderLine {
	margin: 0;
	border-top: 0.4375em solid #035159;
	margin-top: 1.375em;
	margin-left: 3.5%;
	margin-bottom: 0.5em;
	width: 86%;
}

.borderLine  {
	p {
		margin: 0;
		width: 1.4375em;
		height: 1.4375em;
		background-color: white;
		border: 0.25em solid #035159;
		border-radius: 50%;
		margin-top: -6%;
		margin-left: -1%;
	}
	.pointTwo {
		margin-left: 35%;
	}
	.pointThree  {
		margin-left: 52%;
	}
	.pointFour {
		float: right;
		margin-right: -3%;
	}
}
//month
.formMiddle {
	margin-top: 0;
	.textPadding {
		padding-left: 0.9375em;
	}
}
.textBottom {
	padding-left: 0 !important;
}
.bottomPadding {
	padding-left: 1.25em;
}
.bottomPaddingP {
	padding-left: 1.6875em;
}
//stage
.experienceBox {
	margin-top: 8%;
}

.stageBox {
  border-radius: 0.625em;
  background-color: white;
  padding: 2%;
	padding-right: 0;
	padding-top: 1.75em;
	padding-bottom: 1.125em;
  box-shadow: 0.0625em 0.0625em 0.125em silver;
	margin-top: 3.5em;
	margin-bottom: 4.9375em;
	h4 {
		font-size: 1.511875em;
		font-weight: 200;
	}
	p {
		font-size: 1.1875em;
		font-weight: 200;
		color: #999794;
		padding-right: 2%;
	}
	span:first-child {
		font-size: 1.26em;
		font-weight: 200;
		color: #bababa;
	}
	span:last-child {
		font-size: 3.275625em;
		font-weight: 200;
		color: #035159;
	}
}
.stageBorder {
	border-right: 0.1875em solid #bababa;
}

.yearText {
	padding-top: 10%;
	text-align: center;
}
.yearBoxEx {
	padding-right: 1.25em;
}
.stageBoxMargin{
	margin-top: 9em;
}
.borderRight {
  border-right: 0.375em solid #084141;
}
.borderLeft {
	border-left: 0.375em solid #084141;
}
.triangle {
	width: 0;
	height: 0;
	border-top: 1.25em solid transparent;
	border-bottom: 1.25em solid transparent;
	border-left: 2.1875em solid white;
	margin: 7em auto 0;
}
.triangleRight {
	width: 0;
	height: 0;
	border-top: 1.25em solid transparent;
	border-bottom: 1.25em solid transparent;
	border-right: 2.1875em solid white;
	margin: 16.5em auto 0 ;
}
//competences
.competencesBox {
	margin-top: 5em;
}
.competencesList {
	margin-top: 9%;
	font-size: 1.31em;
	p{
		padding-bottom: 7%;
	}
}
.marginTop {
  margin-top: 10.5%;
}
.prog {
	height: 0.8125em;
	border: 0.0625em solid #ccc;
	background: #eee;
	border-radius: 0.3125em;
	margin-bottom: 1.5em;
}
.one {
	background: #027070;
}
.two {
	background: #046060;
}
.three {
	background: #074c4c;
}
.four {
	background: #009898;
}
.five {
	background: #02b4b5;
}
.six {
	background: #008384;
}
.progBar {
	border-radius: 0.1875em;
	height: 0.6875em;
	margin-left: 0;
}
.circlesBox {
  display: flex;
  p {
		text-align: center;
	}
}
.sport {
  width: 4.7em;
  height: 4.7em;
  background-color: #26acac;
  border-radius: 50%;
	opacity: 0.8;
	margin-top: 1.875em;
	margin-left: 7%;
	z-index: 3;
	position: absolute;
	color: white;
	font-size: 2.013125em;
	line-height: 4.7em;
}
.musique {
  width: 6.3em;
  height: 6.3em;
  background-color: #2bc4c4;
  border-radius: 50%;
	z-index: 1;
	position: absolute;
	margin-top: 6.4em;
	margin-left: 3%;
	color: white;
	font-size: 1.725625em;
	line-height: 6.3em;
}
.webdesign {
  width: 6.4em;
  height: 6.4em;
  background-color: #268e8e;
  border-radius: 50%;
	position: absolute;
	z-index: 2;
	opacity: 0.8;
	margin-top: 3.0625em;
	margin-left: 15%;
	color: white;
	font-size: 2.300625em;
	line-height: 6.4em;
}
.cinema {
  width: 5em;
  height: 5em;
  background-color: #2b5d5d;
  border-radius: 50%;
	position: absolute;
	z-index: 4;
	opacity: 0.8;
	margin-top: 8.0625em;
	margin-left: 30%;
	color: white;
	font-size: 1.820625em;
	line-height: 5em;
}
.center {
  text-align: center;
}
